{
  "swagger": "2.0",
  "info": {
    "description": "서울올림픽기념국민체육진흥공단 경륜경정총괄본부에서 제공하는 경륜홈페이지 자료실 정보는 경륜스타트사진목록, 일반 및 이벤트 경주 동영상, 자료실 정보, 기획프로그램, 연간경주일정, 경륜뉴스 등 다양한 콘텐츠를 제공합니다. 이 자료는 경륜 팬들과 관계자들이 경기 관련 최신 소식과 기록을 쉽게 확인하고 활용할 수 있도록 돕습니다. 또한, 다양한 미디어 자료와 공식 일정 제공으로 경기 분석에 중요한 역할을 하며, 이를 통해 경륜 산업 전반의 정보 접근성과 투명성이 크게 향상됩니다. 신뢰성 높은 정보 제공으로 팬들의 이해도와 관심도도 높아집니다.",
    "version": "1.0.0",
    "title": "서울올림픽기념국민체육진흥공단_경주사업총괄본부 경륜-홈페이지 자료실 정보"
  },
  "host": "apis.data.go.kr/B551014/SRVC_WEB_CRA_MBR_INFO",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/TODZ_API_WEB_STRT_PHOTO": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "race_sn ": {
                              "type": "number",
                              "description": "경주일련번호",
                              "properties": {}
                            },
                            "stnd_yr ": {
                              "type": "string",
                              "description": "경기연도",
                              "properties": {}
                            },
                            "week_tcnt": {
                              "type": "number",
                              "description": "주횟수",
                              "properties": {}
                            },
                            "mbr_no ": {
                              "type": "string",
                              "description": "경주장번호",
                              "properties": {}
                            },
                            "day_tcnt ": {
                              "type": "number",
                              "description": "일횟수",
                              "properties": {}
                            },
                            "race_no ": {
                              "type": "string",
                              "description": "경주번호",
                              "properties": {}
                            },
                            "start_photo_url ": {
                              "type": "string",
                              "description": "스타트사진URL",
                              "properties": {}
                            },
                            "row_num": {
                              "type": "string",
                              "description": "순번",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경륜스타트사진 목록 조회",
        "description": "경주일, 경주년도, 회차, 시행처 등 검색조건을 지정하여 경륜 경주의 스타트 사진 정보를 조회 기능",
        "operationId": "TODZ_API_WEB_STRT_PHOTO",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "race_sn",
          "description": "경주일련번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "stnd_yr",
          "description": "경기연도",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "week_tcnt",
          "description": "주횟수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "mbr_no",
          "description": "경주장번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "day_tcnt",
          "description": "일횟수",
          "type": "number",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/TODZ_API_WEB_GRND_PGM": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드"
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지"
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "program_class_nm": {
                              "type": "string",
                              "description": "프로그램분류명"
                            },
                            "title_nm": {
                              "type": "string",
                              "description": "제목명"
                            },
                            "video_url": {
                              "type": "string",
                              "description": "비디오URL"
                            },
                            "row_num": {
                              "type": "string",
                              "description": "순번"
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수"
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호"
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수"
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "210": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경륜 이벤트경주 동영상 목록 조회",
        "description": "제목 검색조건을 지정하여 경륜경정총괄사업 경륜 이벤트 경주 동영상 정보를 조회하는 기능",
        "operationId": "todz_api_web_grnd_pgm",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "title_nm",
          "description": "제목명",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/TODZ_API_CYCLE_RACE_VIDEO": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드"
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지"
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "race_ymd": {
                              "type": "string",
                              "description": "경주일자"
                            },
                            "stnd_yr": {
                              "type": "string",
                              "description": "경기연도"
                            },
                            "week_tcnt": {
                              "type": "number",
                              "description": "주횟수"
                            },
                            "mbr_no": {
                              "type": "string",
                              "description": "경주장번호"
                            },
                            "day_tcnt": {
                              "type": "number",
                              "description": "일횟수"
                            },
                            "race_no": {
                              "type": "string",
                              "description": "경주번호"
                            },
                            "race_video_url": {
                              "type": "string",
                              "description": "동영상URL"
                            },
                            "row_num": {
                              "type": "string",
                              "description": "순번"
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수"
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호"
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수"
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경륜경주동영상 목록 조회",
        "description": "경주일, 경주년도, 회차, 시행처 등 검색조건을 지정하여 경륜 경주 동영상의 정보 조회 기능",
        "operationId": "TODZ_API_CYCLE_RACE_VIDEO_I",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "race_ymd",
          "description": "경주일자",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "stnd_yr",
          "description": "경기연도",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "week_tcnt",
          "description": "주횟수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "mbr_no",
          "description": "경주장번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "day_tcnt",
          "description": "일횟수",
          "type": "number",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/TODZ_API_WEB_PDS_MASTER": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드"
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지"
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "title_nm": {
                              "type": "string",
                              "description": "제목명"
                            },
                            "file_url": {
                              "type": "string",
                              "description": "파일URL"
                            },
                            "row_num": {
                              "type": "string",
                              "description": "순번"
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수"
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호"
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수"
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경륜홈페이지자료실 목록 조회",
        "description": "제목 검색조건을 지정하여 제목과 URL 등 경륜홈페이지 자료실 정보 조회 기능",
        "operationId": "TODZ_API_WEB_PDS_MASTER",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "title_nm",
          "description": "제목명",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/TODZ_API_WEB_PLAN_PGM": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드"
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지"
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "program_class_nm": {
                              "type": "string",
                              "description": "프로그램분류명"
                            },
                            "title_nm": {
                              "type": "string",
                              "description": "제목명"
                            },
                            "video_url": {
                              "type": "string",
                              "description": "비디오URL"
                            },
                            "row_num": {
                              "type": "string",
                              "description": "순번"
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수"
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호"
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수"
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경륜기획프로그램 목록 조회",
        "description": "참여행사일과 제목 검색조건을 지정하여 경륜경정총괄사업의 명예심판 후기정보를 조회하는 기능",
        "operationId": "todz_api_web_plan_pgm",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "program_class_nm",
          "description": "프로그램분류명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "title_nm",
          "description": "제목명",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/TODZ_API_WEB_SCHEDULE": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드"
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지"
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "schdl_yr": {
                              "type": "string",
                              "description": "일정연도"
                            },
                            "schdl_mm": {
                              "type": "string",
                              "description": "일정월"
                            },
                            "schdl_day": {
                              "type": "string",
                              "description": "일정요일"
                            },
                            "title_nm": {
                              "type": "string",
                              "description": "제목명"
                            },
                            "schdl_cn": {
                              "type": "string",
                              "description": "일정내용"
                            },
                            "row_num": {
                              "type": "string",
                              "description": "순번"
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수"
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호"
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수"
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경륜 연간경주일정 목록 조회",
        "description": "년도와 월을 검색조건을 지정하여 경륜경정총괄사업 경륜 연간경주일정 정보를 조회하는 기능",
        "operationId": "todz_api_web_schedule",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "schdl_yr",
          "description": "일정연도",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schdl_mm",
          "description": "일정월",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/TODZ_API_WEB_CYCLE_NEWS": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드"
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지"
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "title_nm": {
                              "type": "string",
                              "description": "제목명"
                            },
                            "video_url": {
                              "type": "string",
                              "description": "비디오URL"
                            },
                            "row_num": {
                              "type": "string",
                              "description": "순번"
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수"
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호"
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수"
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경륜뉴스 목록 조회",
        "description": "제목 검색조건을 지정하여 경륜경정총괄사업 경륜 뉴스 정보를 조회하는 기능",
        "operationId": "todz_api_web_cycle_news",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "title_nm",
          "description": "제목명",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/todz_api_web_plan_pgm": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "program_class_nm": {
                              "type": "string",
                              "description": "프로그램분류명",
                              "properties": {}
                            },
                            "title_nm ": {
                              "type": "string",
                              "description": "제목명",
                              "properties": {}
                            },
                            "video_url ": {
                              "type": "string",
                              "description": "비디오URL",
                              "properties": {}
                            },
                            "row_num": {
                              "type": "string",
                              "description": "순번",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경륜기획프로그램 목록 조회",
        "description": "프로그램 분류명, 제목 검색조건을 지정하여 기획프로그램을 조회하는 기능",
        "operationId": "todz_api_web_plan_pgm",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "program_class_nm",
          "description": "프로그램분류명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "title_nm",
          "description": "제목명",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "TODZ_API_WEB_STRT_PHOTO_RESPONSE": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "race_sn": {
                      "type": "number",
                      "description": "경주일련번호"
                    },
                    "stnd_yr": {
                      "type": "string",
                      "description": "경기연도"
                    },
                    "week_tcnt": {
                      "type": "number",
                      "description": "주횟수"
                    },
                    "mbr_no": {
                      "type": "string",
                      "description": "경주장번호"
                    },
                    "day_tcnt": {
                      "type": "number",
                      "description": "일횟수"
                    },
                    "race_no": {
                      "type": "string",
                      "description": "경주번호"
                    },
                    "start_photo_url": {
                      "type": "string",
                      "description": "스타트사진URL"
                    },
                    "row_num": {
                      "type": "string",
                      "description": "순번"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            }
          }
        }
      }
    },
    "TODZ_API_WEB_GRND_PGM_RESPONSE": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "program_class_nm": {
                      "type": "string",
                      "description": "프로그램분류명"
                    },
                    "title_nm": {
                      "type": "string",
                      "description": "제목명"
                    },
                    "video_url": {
                      "type": "string",
                      "description": "비디오URL"
                    },
                    "row_num": {
                      "type": "string",
                      "description": "순번"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            }
          }
        }
      }
    },
    "TODZ_API_CYCLE_RACE_VIDEO_RESPONSE": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "race_ymd": {
                      "type": "string",
                      "description": "경주일자"
                    },
                    "stnd_yr": {
                      "type": "string",
                      "description": "경기연도"
                    },
                    "week_tcnt": {
                      "type": "number",
                      "description": "주횟수"
                    },
                    "mbr_no": {
                      "type": "string",
                      "description": "경주장번호"
                    },
                    "day_tcnt": {
                      "type": "number",
                      "description": "일횟수"
                    },
                    "race_no": {
                      "type": "string",
                      "description": "경주번호"
                    },
                    "race_video_url": {
                      "type": "string",
                      "description": "동영상URL"
                    },
                    "row_num": {
                      "type": "string",
                      "description": "순번"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            }
          }
        }
      }
    },
    "TODZ_API_WEB_PDS_MASTER_RESPONSE": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "title_nm": {
                      "type": "string",
                      "description": "제목명"
                    },
                    "file_url": {
                      "type": "string",
                      "description": "파일URL"
                    },
                    "row_num": {
                      "type": "string",
                      "description": "순번"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            }
          }
        }
      }
    },
    "TODZ_API_WEB_PLAN_PGM_RESPONSE": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "program_class_nm": {
                      "type": "string",
                      "description": "프로그램분류명"
                    },
                    "title_nm": {
                      "type": "string",
                      "description": "제목명"
                    },
                    "video_url": {
                      "type": "string",
                      "description": "비디오URL"
                    },
                    "row_num": {
                      "type": "string",
                      "description": "순번"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            }
          }
        }
      }
    },
    "TODZ_API_WEB_SCHEDULE_RESPONSE": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "schdl_yr": {
                      "type": "string",
                      "description": "일정연도"
                    },
                    "schdl_mm": {
                      "type": "string",
                      "description": "일정월"
                    },
                    "schdl_day": {
                      "type": "string",
                      "description": "일정요일"
                    },
                    "title_nm": {
                      "type": "string",
                      "description": "제목명"
                    },
                    "schdl_cn": {
                      "type": "string",
                      "description": "일정내용"
                    },
                    "row_num": {
                      "type": "string",
                      "description": "순번"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            }
          }
        }
      }
    },
    "TODZ_API_WEB_CYCLE_NEWS_RESPONSE": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "title_nm": {
                      "type": "string",
                      "description": "제목명"
                    },
                    "video_url": {
                      "type": "string",
                      "description": "비디오URL"
                    },
                    "row_num": {
                      "type": "string",
                      "description": "순번"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            }
          }
        }
      }
    },
    "TODZ_API_WEB_STRT_PHOTO_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "race_sn ": {
                      "type": "number",
                      "description": "경주일련번호"
                    },
                    "stnd_yr ": {
                      "type": "string",
                      "description": "경기연도"
                    },
                    "week_tcnt": {
                      "type": "number",
                      "description": "주횟수"
                    },
                    "mbr_no ": {
                      "type": "string",
                      "description": "경주장번호"
                    },
                    "day_tcnt ": {
                      "type": "number",
                      "description": "일횟수"
                    },
                    "race_no ": {
                      "type": "string",
                      "description": "경주번호"
                    },
                    "start_photo_url ": {
                      "type": "string",
                      "description": "스타트사진URL"
                    },
                    "row_num": {
                      "type": "string",
                      "description": "순번"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "todz_api_web_plan_pgm_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "program_class_nm": {
                      "type": "string",
                      "description": "프로그램분류명"
                    },
                    "title_nm ": {
                      "type": "string",
                      "description": "제목명"
                    },
                    "video_url ": {
                      "type": "string",
                      "description": "비디오URL"
                    },
                    "row_num": {
                      "type": "string",
                      "description": "순번"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://openapi.kspo.or.kr/web/service/SRVC_WEB_CRA_MBR_INFO/todz_api_web_plan_pgm",
      "oprtinNm": "경륜기획프로그램 목록 조회",
      "oprtinDc": "프로그램 분류명, 제목 검색조건을 지정하여 기획프로그램을 조회하는 기능",
      "gwSvcNm": "todz_api_web_plan_pgm",
      "operationId": "todz_api_web_plan_pgm",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrBassValue": "-",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrBassValue": "1",
          "paramtrDc": "페이지번호",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrBassValue": "10",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "resultType",
          "paramtrBassValue": "XML",
          "paramtrDc": "결과형식",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "program_class_nm",
          "paramtrBassValue": "선수들의 영상",
          "paramtrDc": "프로그램분류명",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "title_nm",
          "paramtrBassValue": "김민배",
          "paramtrDc": "제목명",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "paramtrDefNm": "#/definitions/api_web_plan_pgm-header",
          "subDefNm": "api_web_plan_pgm-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메시지",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "paramtrDefNm": "#/definitions/api_web_plan_pgm-body",
          "subDefNm": "api_web_plan_pgm-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체 결과 수",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "페이지번호",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지 결과 수",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "paramtrDefNm": "#/definitions/api_web_plan_pgm-items",
              "subDefNm": "api_web_plan_pgm-items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "paramtrDefNm": "#/definitions/api_web_plan_pgm-item",
                  "subDefNm": "api_web_plan_pgm-item",
                  "paramtrTy": "object",
                  "paramtrDivision": "필수",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "program_class_nm",
                      "paramtrDc": "프로그램분류명",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "title_nm ",
                      "paramtrDc": "제목명",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "video_url ",
                      "paramtrDc": "비디오URL",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "row_num",
                      "paramtrDc": "순번",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}