{
  "swagger": "2.0",
  "info": {
    "description": "경륜-제재선수 현황 정보는 국민체육진흥공단이 광명스피돔에서 시행하는 경륜 경주와 관련하여 제재를 받은 선수들의 정보를 종합적으로 제공하는 공공데이터입니다. 이 데이터는 선수의 이름, 제재 유형, 제재 사유, 제재 기간 등 주요 항목으로 구성되어 있으며, 출전 정지, 서면 경고 등 실제 적용된 제재 결과와 그 사유를 구체적으로 확인할 수 있도록 설계되어 있습니다. 이를 통해 경륜 경주의 공정성 확보와 규정 위반 사례의 투명한 공개를 도모하며, 제재 기록을 기반으로 한 분석, 연구, 정책 개발 등에도 활용이 가능합니다. 특히, 선수별 기초정보와 경주별 제재 이력을 연계하여 제공함으로써, 국민이 경륜 운영의 신뢰성과 규율 준수 현황을 한눈에 파악할 수 있도록 지원합니다.",
    "version": "1.0.0",
    "title": "서울올림픽기념국민체육진흥공단_경주사업총괄본부 경륜-제재선수 현황 정보"
  },
  "host": "apis.data.go.kr/B551014/SRVC_CRA_RACE_SANC",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/TODZ_CRA_RACE_SANC": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "row_num": {
                              "type": "string",
                              "description": "순번",
                              "properties": {}
                            },
                            "racer_id": {
                              "type": "string",
                              "description": "선수번호",
                              "properties": {}
                            },
                            "racer_nm": {
                              "type": "string",
                              "description": "선수명",
                              "properties": {}
                            },
                            "p_kind": {
                              "type": "string",
                              "description": "제재유형",
                              "properties": {}
                            },
                            "p_period": {
                              "type": "string",
                              "description": "제재기간",
                              "properties": {}
                            },
                            "p_johang": {
                              "type": "string",
                              "description": "제재사유",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경륜 제재선수 현황 정보 조회",
        "description": "선수명, 제재유형, 제재사유 조회조건을 이용하여 경륜선수 제재 주요 정보를 조회하는 기능",
        "operationId": "TODZ_CRA_RACE_SANC",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "racer_id",
          "description": "선수번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "racer_nm",
          "description": "선수명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "p_kind",
          "description": "제재유형",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "p_johang",
          "description": "제재사유",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "TODZ_CRA_RACE_SANC_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "row_num": {
                      "type": "string",
                      "description": "순번"
                    },
                    "racer_id": {
                      "type": "string",
                      "description": "선수번호"
                    },
                    "racer_nm": {
                      "type": "string",
                      "description": "선수명"
                    },
                    "p_kind": {
                      "type": "string",
                      "description": "제재유형"
                    },
                    "p_period": {
                      "type": "string",
                      "description": "제재기간"
                    },
                    "p_johang": {
                      "type": "string",
                      "description": "제재사유"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://openapi.kspo.or.kr/web/service/SRVC_CRA_RACE_SANC/TODZ_CRA_RACE_SANC",
      "oprtinNm": "경륜 제재선수 현황 정보 조회",
      "oprtinDc": "선수명, 제재유형, 제재사유 조회조건을 이용하여 경륜선수 제재 주요 정보를 조회하는 기능",
      "gwSvcNm": "TODZ_CRA_RACE_SANC",
      "operationId": "TODZ_CRA_RACE_SANC",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrBassValue": "-",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrBassValue": "1",
          "paramtrDc": "페이지번호",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrBassValue": "10",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "resultType",
          "paramtrBassValue": "XML",
          "paramtrDc": "결과형식",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "racer_id",
          "paramtrBassValue": "06-033",
          "paramtrDc": "선수번호",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "racer_nm",
          "paramtrBassValue": "조봉희",
          "paramtrDc": "선수명",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "p_kind",
          "paramtrBassValue": "출전정지",
          "paramtrDc": "제재유형",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "p_johang",
          "paramtrBassValue": "경륜시행규정 제42조(출전정지)제14호 - 경주종료 후 경주내용에 대해 폭언 등을 하며 싸우는 선수",
          "paramtrDc": "제재사유",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/cra_race_sanc-header",
          "subDefNm": "cra_race_sanc-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메세지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/cra_race_sanc-body",
          "subDefNm": "cra_race_sanc-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/cra_race_sanc-items",
              "subDefNm": "cra_race_sanc-items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/cra_race_sanc-item",
                  "subDefNm": "cra_race_sanc-item",
                  "paramtrTy": "object",
                  "paramtrDivision": "필수",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "row_num",
                      "paramtrDc": "순번",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "racer_id",
                      "paramtrDc": "선수번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "racer_nm",
                      "paramtrDc": "선수명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "p_kind",
                      "paramtrDc": "제재유형",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "p_period",
                      "paramtrDc": "제재기간",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "p_johang",
                      "paramtrDc": "제재사유",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    }
                  ]
                }
              ]
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "페이지번호",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        }
      ]
    }
  ]
}