{
  "swagger": "2.0",
  "info": {
    "description": "서울올림픽기념국민체육진흥공단 경륜경정총괄본부에서 제공하는 경륜 경주결과순위는 경주연도와 회차, 일차, 선수명 등을 기준으로 해당 경기 1위부터 7위까지의 전체 순위 데이터를 제공합니다. 이 API와 함께 단승식, 연승식, 쌍승식, 복승식, 삼복승식, 쌍복승식, 삼쌍승식 등 승식값 결과를 볼 수 있는 서울올림픽기념국민체육진흥공단_경주사업총괄본부 경륜-경주결과 데이터도 참고하시는 것을 추천드립니다. 이 데이터를 활용하면 경기의 전체 순위와 선수의 기량, 안정성을 종합적으로 파악할 수 있어, 예측 및 판단에 유용한 자료로 활용됩니다.",
    "version": "1.0.0",
    "title": "서울올림픽기념국민체육진흥공단_경주사업총괄본부 경륜-경주결과순위 정보"
  },
  "host": "apis.data.go.kr/B551014/SRVC_CRA_RACE_RANK",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/TODZ_CRA_RACE_RANK": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "row_num": {
                              "type": "string",
                              "description": "순번",
                              "properties": {}
                            },
                            "stnd_year": {
                              "type": "string",
                              "description": "기준연도",
                              "properties": {}
                            },
                            "meet_nm": {
                              "type": "string",
                              "description": "경륜장명",
                              "properties": {}
                            },
                            "tms": {
                              "type": "string",
                              "description": "회차",
                              "properties": {}
                            },
                            "day_ord": {
                              "type": "string",
                              "description": "일차",
                              "properties": {}
                            },
                            "race_no": {
                              "type": "string",
                              "description": "경주번호",
                              "properties": {}
                            },
                            "race_day": {
                              "type": "string",
                              "description": "경주일",
                              "properties": {}
                            },
                            "racer_no": {
                              "type": "string",
                              "description": "선수번호",
                              "properties": {}
                            },
                            "racer_nm": {
                              "type": "string",
                              "description": "선수명",
                              "properties": {}
                            },
                            "race_rank": {
                              "type": "string",
                              "description": "경주순위",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경주결과순위 조회",
        "description": "경주연도, 회차, 일차, 선수명 등의 조회조건을 이용하여 경주 결과의 전체순위 정보를 조회하는 기능",
        "operationId": "TODZ_CRA_RACE_RANK",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "stnd_year",
          "description": "기준연도",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "tms",
          "description": "회차",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "day_ord",
          "description": "일차",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "race_no",
          "description": "경주번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "race_day",
          "description": "경주일",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "racer_no",
          "description": "선수번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "racer_nm",
          "description": "선수명",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "TODZ_CRA_RACE_RANK_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "row_num": {
                      "type": "string",
                      "description": "순번"
                    },
                    "stnd_year": {
                      "type": "string",
                      "description": "기준연도"
                    },
                    "meet_nm": {
                      "type": "string",
                      "description": "경륜장명"
                    },
                    "tms": {
                      "type": "string",
                      "description": "회차"
                    },
                    "day_ord": {
                      "type": "string",
                      "description": "일차"
                    },
                    "race_no": {
                      "type": "string",
                      "description": "경주번호"
                    },
                    "race_day": {
                      "type": "string",
                      "description": "경주일"
                    },
                    "racer_no": {
                      "type": "string",
                      "description": "선수번호"
                    },
                    "racer_nm": {
                      "type": "string",
                      "description": "선수명"
                    },
                    "race_rank": {
                      "type": "string",
                      "description": "경주순위"
                    }
                  }
                }
              }
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://openapi.kspo.or.kr/web/service/SRVC_CRA_RACE_RANK/TODZ_CRA_RACE_RANK",
      "oprtinNm": "경주결과순위 조회",
      "oprtinDc": "경주연도, 회차, 일차, 선수명 등의 조회조건을 이용하여 경주 결과의 전체순위 정보를 조회하는 기능",
      "gwSvcNm": "TODZ_CRA_RACE_RANK",
      "operationId": "TODZ_CRA_RACE_RANK",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "resultType",
          "paramtrDc": "결과형식",
          "paramtrBassValue": "XML",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "stnd_year",
          "paramtrDc": "기준연도",
          "paramtrBassValue": "2025",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "tms",
          "paramtrDc": "회차",
          "paramtrBassValue": "24",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "day_ord",
          "paramtrDc": "일차",
          "paramtrBassValue": "3",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "race_no",
          "paramtrDc": "경주번호",
          "paramtrBassValue": "04",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "race_day",
          "paramtrDc": "경주일",
          "paramtrBassValue": "20250615",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "racer_no",
          "paramtrDc": "선수번호",
          "paramtrBassValue": "19960041",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "racer_nm",
          "paramtrDc": "선수명",
          "paramtrBassValue": "임병창",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/CRA_RACE_RANK-header",
          "subDefNm": "CRA_RACE_RANK-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메세지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/CRA_RACE_RANK-body",
          "subDefNm": "CRA_RACE_RANK-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/CRA_RACE_RANK-items",
              "subDefNm": "CRA_RACE_RANK-items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/CRA_RACE_RANK-item",
                  "subDefNm": "CRA_RACE_RANK-item",
                  "paramtrTy": "object",
                  "paramtrDivision": "필수",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "row_num",
                      "paramtrDc": "순번",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "stnd_year",
                      "paramtrDc": "기준연도",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "meet_nm",
                      "paramtrDc": "경륜장명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "tms",
                      "paramtrDc": "회차",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "day_ord",
                      "paramtrDc": "일차",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "race_no",
                      "paramtrDc": "경주번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "race_day",
                      "paramtrDc": "경주일",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "racer_no",
                      "paramtrDc": "선수번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "racer_nm",
                      "paramtrDc": "선수명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "race_rank",
                      "paramtrDc": "경주순위",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    }
                  ]
                }
              ]
            },
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "페이지번호",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        }
      ],
      "oprtinNo": 1
    }
  ]
}